<table class="table table-striped hover" datatable>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Postal Code</th>
            <th>Owner</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let site of sites">
            <th>{{site.code}}</th>
            <td>{{site.name}}</td>
            <td>{{site.postalCode}}</td>
            <td>{{inferOwnerName(site)}}</td>
            <th>
                <div class="btn-group">
                    <button class="btn btn-primary mx-1">Show</button>
                    <button class="btn btn-secondary mx-1" (click)="onEditSite(site)">Edit</button>
                    
                    <button *ngIf="site.deleted; else elseCase" class="btn btn-success mx-1" (click)="onRestoreSite(site)">
                        Restore
                    </button>
                    <ng-template #elseCase>
                        <button #elseCase class="btn btn-danger mx-1" (click)="onDeleteSite(site)">Delete</button>
                    </ng-template>
                </div>
            </th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-end"><button class="btn btn-primary" (click)="addSite()">Add</button></td>
        </tr>
    </tfoot>
</table>