<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit wagon #{{wagon?.id}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="serialNumber">Serial number</label>
            <div class="input-group">
                <input class="form-control" [(ngModel)]="wagon.serialNumber" name="serialNumber">
            </div>

            <label for="yearOfProduction">Year of production</label>
            <div class="input-group">
                <input type="number" class="form-control" [(ngModel)]="wagon.yearOfProduction" name="yearOfProduction">
            </div>

            <label for="fleetNumber">Fleet number</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="wagon.fleetNumber" name="fleetNumber">
            </div>

            <label for="owner">Owner</label>
            <div class="input-group">
                <select class="form-control" [(ngModel)]="wagon.ownerId" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let owner of owners" [ngValue]="owner.id">{{owner.name}}</option>
                </select>
            </div>

            <label for="site">Site</label>
            <div class="input-group">
                <select class="form-control" [(ngModel)]="wagon.siteId" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let site of sites" [ngValue]="site.id">{{site.name}}</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSave(); activeModal.close()">Save</button>
</div>